*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(245, 175, 224);
}

h1, h2, h3, h4 , h5, h6 {
    color: rgb(32, 23, 23);
}

p, label {
    color: dimgrey;
}

input {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

input [type="text"], input [type="number"], input [type="date"], input [type="file"], textarea {
    width: 400px;
}

textarea {
    padding: 10px 5 px;
}

.cabecalho {
    height: 160px;
    padding: 20px;
    background-color: cadetblue;
}

.cabecalho h3{
    color:rgb(226, 201, 167);
    margin-top: 0;
}

.form-container {
    background-color: #ccc;
    width:60%;
    margin: 0 auto;
    position: relative;
    top: -46px;
}

.form-hearder {
    border-bottom: 1px solid #dfdfdf;
    height: 45px;
}

.form-hearder p {
    color: rgb(67, 67, 197);
    border-bottom: 2px solid rgb(67, 67, 197);
    width: 100%;
    text-align:center;
    margin: 0 auto;
    text-transform: uppercase;
    height: 45px;
    list-style: 45px;
}

.form-body {
    paddin: 30px;
}

.titulo-form {
    margin-bottom: 15px;
}

.form-body p {
    margin-bottom: 20px;
}

.campo-obrigatorio {
    color: rgb(201, 92, 92);
}